<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
  <head>
    <meta name = "generator" content = "WebObjects 5" />
    <title>Untitled</title>
  </head>
  <body bgcolor = "#FFFFFF">
    <center>
      <webobject name = "Form1">Search for A Customer by Last Name:<p><webobject name = "TextField1" /></p>
        <p><webobject name = "SubmitButton1" /></p>
      </webobject>
      <p />
      <webobject name = "Conditional1">
        <table cellspacing = "2" cellpadding = "2" border = "1" width = "320">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-Mail</th>
          </tr>
          <webobject name = "Repetition1">
            <tr>
              <td><webobject name = "String1" /></td>
              <td><webobject name = "String2" /></td>
              <td><webobject name = "String3" /></td>
            </tr>
          </webobject>
        </table>
      </webobject>
      <webobject name = "Conditional2">Sorry, no customers with that last name found.</webobject>
    </center>
  </body>
</html>