<webobject name = "menuTable">
  <tr>
    <webobject name = "books">
      <webobject name = "booksLink">Books</webobject>
    </webobject>
    <webobject name = "music">
      <webobject name = "musicLink">Music</webobject>
    </webobject>
    <webobject name = "electronics">
      <webobject name = "electronicsLink">Electronics</webobject>
    </webobject>
    <webobject name = "emptyCell">&nbsp;</webobject>
    <webobject name = "checkout">
      <webobject name = "checkoutLink">Checkout</webobject>
    </webobject>
  </tr>
</webobject>