bin
build
dist

/.DS_Store
/Chapter5And6/bin
/Chapter5And6/build
/Chapter8Demo/bin
/Chapter8Demo/build
/DirectActions/bin
/DirectActions/build
/FetchSpecs/bin
/FetchSpecs/build
/FirstMenu/bin
/FirstMenu/build
/Login/bin
/Login/build
/MonitorTest/bin
/MonitorTest/build
/OneDay/bin
/OneDay/build
/WOGreeting/bin
/WOGreeting/build
/WOGreeting4/bin
/WOGreeting4/build
/WOWroxExample/bin
/WOWroxExample/build