<WEBOBJECT name=menuTable>
  <TR>
    <WEBOBJECT name=books>
      <WEBOBJECT name=booksLink>Books</WEBOBJECT>
    </WEBOBJECT>

    <WEBOBJECT name=music>
      <WEBOBJECT name=musicLink>Music</WEBOBJECT>
    </WEBOBJECT>

    <WEBOBJECT name=electronics>
      <WEBOBJECT name=electronicsLink>Electronics</WEBOBJECT>
    </WEBOBJECT>

    <WEBOBJECT name=emptyCell>&nbsp;</WEBOBJECT>

    <WEBOBJECT name=checkout>
      <WEBOBJECT name=checkoutLink>Checkout</WEBOBJECT>
    </WEBOBJECT>
  </TR>
</WEBOBJECT>