<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
  <head>
    <meta name = "generator" content = "WebObjects 5" />
    <title>Untitled</title>
  </head>
  <body bgcolor = "#FFFFFF">
    Hello 
    <webobject name = "String1" />
    <p>If this is not your name you can 
      <webobject name = "Hyperlink1">enter a new name</webobject>
    </p>So far you have used the following names on the site:<p />
    <webobject name = "Repetition2">
      <table border = "1" width = "250">
        <tr>
          <td><webobject name = "String2" /></td>
        </tr>
      </table>
    </webobject>
  </body>
</html>