<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
  <head>
    <title>Direct to Web</title>
  </head>
  <body bgcolor = "FFFFFF">
    <H1 align = "CENTER">Welcome to Direct to Web!</H1>
    <webobject name = "LoginForm">
      <center>
        <table border = "2" cellpadding = "4" cellspacing = "2" bgcolor = "#B0B0B0">
          <tr>
            <td>
              <table border = "0" cellpadding = "2" cellspacing = "0" bgcolor = "#B0B0B0">
                <tr>
                  <th align = "right"> Username: </th>
                  <td> <webobject name = "UsernameField" /> </td>
                </tr>
                <tr>
                  <th align = "right"> Password: </th>
                  <td> <webobject name = "PasswordField" /> </td>
                </tr>
                <tr>
                  <th align = "center" colspan = "2"> Enable Assistant: <webobject name = "LACheckbox" /> </th>
                </tr>
                <tr>
                  <td colspan = "2" align = "center"><webobject name = "LoginButton" /> </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <p />
        <webobject name = "DirectToWebPlaque" />
      </center>
    </webobject>
  </body>
</html>