{
    attributes = (
        {columnName = itemID; name = itemID; prototypeName = artificialKey; }, 
        {columnName = orderID; name = orderID; prototypeName = artificialKey; }, 
        {columnName = price; name = price; prototypeName = currency; }, 
        {
            columnName = quantity; 
            externalType = int; 
            name = quantity; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (orderID, itemID, quantity, price); 
    className = EOGenericRecord; 
    classProperties = (quantity, item, order, price); 
    externalName = tLineItem; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {_clientClassPropertyNames = (quantity, item, order); }; 
    name = LineItem; 
    primaryKeyAttributes = (orderID, itemID); 
    relationships = (
        {
            destination = Item; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = itemID; sourceAttribute = itemID; }); 
            name = item; 
        }, 
        {
            destination = Order; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = orderID; sourceAttribute = orderID; }); 
            name = order; 
        }
    ); 
}
