{
    attributes = (
        {
            columnName = itemID; 
            externalType = Number; 
            name = itemID; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = orderID; 
            externalType = number; 
            name = orderID; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = price; 
            externalType = number; 
            name = price; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = quantity; 
            externalType = NUMBER; 
            name = quantity; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (orderID, itemID, quantity, price); 
    className = LineItem; 
    classProperties = (quantity, item, order, price); 
    externalName = tLineItem; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {_clientClassPropertyNames = (quantity, item, order); }; 
    name = LineItem; 
    primaryKeyAttributes = (orderID, itemID); 
    relationships = (
        {
            destination = Item; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = itemID; sourceAttribute = itemID; }); 
            name = item; 
        }, 
        {
            destination = Order; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = orderID; sourceAttribute = orderID; }); 
            name = order; 
        }
    ); 
}
